.edit_message_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 5em;
}

.message{
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    color: white;
  }

  .user{
    font-family: 'Noto Serif', serif;
    /* font-weight: 500; */
    font-size: 21px;
    color: white;
  }
