.message {
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  color: white;
}

.user {
  font-family: 'Noto Serif', serif;
  font-size: 1.4rem;
  color: white;
}

.messages_container {
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.message_temp {
  position: relative;
  width: 90%;
  margin-left: 1%;
}

.messages_container:hover {
  background-color: #474545;
}

.popup_container {
  background-color: lightgrey;
  padding: 20px;
  border-radius: 5px;
  width: 300%;
  transform: translateX(-30%) translateY(-20%);
}

.edit_message {
  font-size: 1.3rem;
  font-family: 'Mukta', sans-serif;
}

.edit_message label {
  display: block;
  margin-bottom: 5px;
}

.edit_message textarea {
  height: 6rem;
  resize: none;
  width: 99%;
  font-family: 'Mukta', sans-serif;
  font-size: 1.1rem;
}

.popup_container button {
  font-size: 1.1rem;
  position: relative;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.img__container {
  margin: 0 15px;
  z-index: 1;
}

.profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message__wrapper {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user__container {
  margin-bottom: 0;
}

.date {
  display: inline-block;
  margin-left: 20px;
  color: rgb(185, 185, 185);
}

.user__container {
  display: flex;
  align-items: center;
  font-family: 'Mukta', sans-serif;
}

.msg__container {
  margin-top: 5px;
}

.message__wrapper i {
  display: none;
}

.message__wrapper:hover i {
  display: inline-block;
  position: absolute;
  z-index: 10000000;
  right: 20px;
  top: 2px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
}
