.message_sender_container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    /* justify-content: flex-end; */
    overflow-y: auto;
    color: white;
    /* background-color: red; */
}

.message_sender {
    display: flex;
    /* height: 95vh; */
    flex-direction: column;
    justify-content: flex-end;
    /* overflow-y: scroll; */
}

.send_chat_form {
    /* height: 3em; */
    /* background-color: #c5c5c5; */
    display: flex;
    align-items: center;
}

.send_chat {
    height: 2.5em;
    width: 100%;
    font-size: 1.4rem;
    /* overflow-wrap: break-word; */
    overflow-y: hidden;
    background-color: #c5c5c5;
    border: 2px solid #2C423F;
    border-radius: .5em;
    resize: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    margin: 10px;
}

.send_chat:focus {
    border: 2px solid #21312f;
    outline: 0;
}

.send_chat__button{
    /* width: 9%;
    height: 3em; */
    /* display: none; */
}
