.react-contextmenu {
    background-color: lightgrey;
    background-clip: border-box;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0 0;
    min-width: 140px;
    padding: 5px 0;
    text-align: left;
}
.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    z-index: 9999;
}
.react-contextmenu-item {
    color: #2c2e2f;
	cursor: pointer;
    line-height: 1.5;
    padding: 3px 20px;
}
.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    background-color: #992740;
    border-color: #992740;
    text-decoration: none;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}
