.channel_name_container {
    color: white;
    margin-top: .4em;
    padding: .2em;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    /* font-weight: 600; */

}

.channel_name_container:hover {
    background-color: #353636;
}

.channel_name::before {
    content: "#  "
}
