.channel_name_container {
    position: relative;
    color: white;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    /* font-weight: 600; */

}

.channel_name_container:hover {
    background-color: #353636;
}

.channel_name {
    padding: 5px 10px;
    margin-top: 10px;
}

.channel_name::before {
    content: "#  "
}

.channel_name i {
    display: none;
}

.channel_name:hover i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: -5px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
}

.popup_container {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    width: 150%;
    transform: translateX(-20%);
}

.channel_edit {
    font-size: 1.3rem;
    font-family: 'Mukta', sans-serif;
}

.channel_edit label {
    display: block;
    margin-bottom: 5px;
}

.channel_edit input {
    width: 95%;
    font-size: 1.2rem;
    font-family: 'Mukta', sans-serif;
    margin-bottom: 10px;
}

.popup_container button {
    font-size: 1.1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.modal__close button {
    display: block;
    float: right;
    margin: 0 10px 10px 0;
}

.modal__message {
    font-size: 1.4rem;
}
