.memberslist_header {
    height: 1.5em;
    padding: .25em;
    padding-top: .5em;
    cursor: pointer;
    font-size: 1.25em;
    background-color: #383737;
    color: white;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}

.member_name {
    /* height: 1.5em; */
    padding: .25em;
    padding-left: .75em;
    cursor: pointer;
    font-size: 1.10em;
    color: white;
    font-family: 'Noto Serif', serif;
    /* font-weight: 600; */
}
