.channel_name {
    background-color: #393a3a;
    color: white;
    height: 1.5em;
    padding: .25em;
    padding-top: .5em;
    font-size: 1.25em;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}
