.profile_bar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383737;
    color: white;
    height: 3em;
    padding: 5px;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}

.show_invites_container__invis {
    position: absolute;
}

.show_invites_container{
    position: absolute;
    bottom: 1.2rem;
    left: 0.75em;
    width: 10em;
    /* height: 5em; */
    padding: .5em;
    background-color: lightgrey;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
}

.show_invites_container_down {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-40%);
    z-index: 1;
    width: 10em;
    padding: .5em;
    background-color: lightgrey;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
}

.show_invites_container li {
    padding: 5px 0;
}

.inv_process {
    font-size: 1.3rem;
}

.inv_process i {
    margin-right: 20px;
    padding: 5px;
}

.inv_process i:hover {
    background-color: rgb(146, 146, 146);
}

.invites {
    color: red;
}

.invites, .no_invites {
    font-size: 1.4rem;
    cursor: pointer;
}
