.profile_bar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383737;
    color: white;
    height: 3em;
    padding: 5px;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}

.show_invites_container__invis {
    position: absolute;
    /* border: 1px solid yellow; */
}

.show_invites_container{
    position: absolute;
    top: -7em;
    left: 1.75em;
    width: 8em;
    height: 5em;
    padding: .5em;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.invites {
    color: red;
}

