.server_container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.server_channels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.server_channel_options__top{
    height: 100%;
    overflow-y: auto;
    background-color: #3b3a3a;

}

.server_options {
    height: 1.5em;
    padding: .25em;
    padding-top: .5em;
    cursor: pointer;
    font-size: 1.25em;
    background-color: #3b3a3a;
    color: white;
}

.server_messages {
    background-color: #4e4d4d;
}

.server_members{
    background-color: #3b3a3a;
}

.instructions_container{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
}

.instructions {
    color: white;
    font-size: 3em;
    font-family: 'Righteous', cursive;
    text-align: center;
    box-shadow: 0 0 8px gray;
    border-radius: 10px;
    padding: 1em;
}