.server_options__container{
    /* display: none; */
    background-color: white;
    border: 1px solid black;
    color: black;
    position: absolute;
    margin-top: 5px;
    transition: 1s ease-in-out;
    width: 10em;
    height: 10em;
}

.selects {
    cursor: pointer;
}

.server_container {
    position: relative;
}

.server_cog_closed {
    position: absolute;
    right: 10px;
}

.server_cog_open {
    position: absolute;
    right: 12px;
}
