.server_icon {
    font-size: 1.5em;
    position:relative;
    margin: 5px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    transition: .1s ease-in-out;
    color: white;
    background-color: #4b4949;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
}

.server_icon:hover {
    border-radius: 30%;
    cursor: pointer;
    background-color: #3E3D3D;
}

.server_icon:hover .server_icon_img {
    border-radius: 30%;
}

.server_icon_img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: block;
}
