.server_create_container__invis {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 0;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Mukta', sans-serif;
}

.server_create_container {
    width: 500px;
    margin-bottom: 50px;
}

.server_create_form {
    background-color: lightgrey;
    border-radius: 5px;
    /* z-index: 1001; */
    padding: 10px;
}

.server_desc textarea {
    height: 7em;
    width: 250px;
}

.server_desc {
    margin-top: 5px;
}

.server_name label,
.server_desc label,
.server_desc textarea {
    display: block;
    font-size: 1.5rem;
}

.server_create_form input, .server_create_form textarea {
    font-size: 1.4rem;
    width: 100%;
}

.server_create_form textarea {
    resize: none;
}

.server_submit {
    margin-top: 5px;
    text-align: center;
}

.server_submit button {
    margin: 5px 20px;
    padding: 0 20px;
    font-size: 1.3rem;
}

.server_create_container__invis h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.server_name, .server_desc, .no_photo, .photo {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.photo, .no_photo {
    font-size: 1.4rem;
}

.no_photo label {
    display: inline-block;
    margin-right: 10px;
}

div.photo_cont {
    display: flex;
    justify-content: center;
}

.photo img {
    display: inline-block;
    margin-right: 10px;
}

.photo button {
    display: inline-block;
    margin-left: 10px;
}

.profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
