.server_container {
    display: grid;
    position: relative;
    z-index: 0;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100%;
}

.server_channels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #686868; */
}

.server_channel_options__top{
    /* border: 1px solid green; */
    height: 100%;
    overflow-y: auto;
    /* height: 90vw; */
    background-color: #3b3a3a;

}

.server_options {
    /* border: 1px solid rgb(255, 255, 0); */
    height: 1.5em;
    padding: .25em;
    padding-top: .5em;
    /* display: flex;
    align-items: center; */
    cursor: pointer;
    font-size: 1.25em;
    background-color: #3b3a3a;
    color: white;
}

.server_messages {
    background-color: #4e4d4d;
}

.server_members{
    background-color: #3b3a3a;
}
